<p>Ask your coach anything:</p>

<form action="/answer" data-turbo="false" method="get">
  <div class="form">
    <input type="text" name="question" id="inputfield">
    <input type="submit" value="Ask!" id="button">
  </div>
</form>
